* {
  box-sizing: border-box;
}

body {
  background-size: 100%;
  background-color: #343a40;
}

.form-control {
  border-radius: 21px;
}

.green {
  background-color: #5ab32e;
}

.red {
  background-color: #d95038;
}